{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8", "ie >= 11"]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "babel-plugin-transform-vue-jsx",
    "dynamic-import-node"
  ]
}